:root {
    --color-background-primary: #fff;

    --color-text-secondary: #1a2b5f;
    --color-text-primary: #ffc87a;
    --color-text-third: #6a7597;
    --color-text-fourth: #a9afc3;
    --color-text-fifth: #ffebea;
    --color-text-sixth: #eff2ff;
}
