.partners {
    &__text--primary {
        text-align: center;
        color: var(--color-text-secondary);
        margin-top: 190px;
        font-size: 20px;
        font-weight: bold;
    }

    &__line--bottom {
        width: 80%;
        height: 2px;
        background-color: var(--color-text-secondary);
        text-align: center;
        margin: auto;
        margin-top: 75px;
        font-weight: bold;
    }

    &__img {
        margin-top: 65px;
        @include flex(center, space-evenly);
    }
}
