:root {
  --color-background-primary: #fff;
  --color-text-secondary: #1a2b5f;
  --color-text-primary: #ffc87a;
  --color-text-title-banner: #6a7597;
  --color-text-category: #a9afc3;
  --color-boxshadow-box2-category: #ffebea;
  --color-boxshadow-category: #eff2ff;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.img-thumbnail {
  width: 210px;
  height: 230px;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.header__inner {
  margin-top: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
}
.header__nav {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
}
.header__nav a {
  color: var(--color-text-secondary);
}
.header__link {
  margin-left: 50px;
  font-size: 12px;
  color: var(--color-text-secondary);
}
.header__link a {
  text-decoration: none;
}

.btn-custom {
  color: var(--color-text-secondary);
  border-radius: 30px;
  text-align: center;
  cursor: pointer;
  padding: 15px 30px;
}
.btn-custom-primary {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  border: solid 1px var(--color-text-primary);
  background-color: var(--color-text-primary);
  text-decoration: none;
  margin-left: 25px;
}
.btn-custom-secondary {
  border: solid 1px var(--color-text-secondary);
  justify-content: center;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  text-decoration: none;
}

.banner {
  display: flex;
}
.banner__content {
  align-items: center;
  flex-direction: column;
  text-align: center;
  color: var(--color-text-secondary);
  margin-top: 50px;
}
.banner__title--primary {
  font-size: 50px;
  font-weight: bold;
  line-height: 51px;
}
.banner__title--secondary {
  font-size: 17px;
  margin-top: 36px;
  color: var(--color-text-title-banner);
  line-height: 24px;
}
.banner__btn {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.banner__btn .btn-custom {
  padding: 17px 36px;
}

.category__list {
  margin-top: 180px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: nowrap;
}
.category__text-secondary {
  text-decoration: none;
}
.category__mall {
  padding: 0px 30px;
  background-color: #fefeff;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  box-shadow: 20px 20px 20px 20px var(--color-boxshadow-box2-category);
}
.category__mall h3 {
  margin-top: 40px;
}
.category__text-primary {
  text-decoration: none;
  color: var(--color-text-secondary);
  font-size: 20px;
}
.category__text-secondary {
  color: var(--color-text-category);
  font-size: 12px;
  position: relative;
  bottom: 30px;
}
.category i {
  margin-left: 15px;
  color: var(--color-text-category);
}

.box-1 {
  box-shadow: 20px 20px 20px 20px #fff1f7;
}

.box-3 {
  box-shadow: 20px 20px 50px 20px var(--color-boxshadow-category);
}

.box-4 {
  box-shadow: 20px 20px 20px 20px #fff8ec;
}

/*# sourceMappingURL=style.css.map */
